body 
	background: #555

.container 
	header 
		background: orange 
		height: 100px 
		padding: 20px 
	footer 
		background: orange 
		height: 50px 
		padding: 20px 

	main 
		display: flex 
		flex-direction: row 
		flex-wrap: wrap 
		justify-content: center 
		align-content: stretch 
		align-items: stretch 

		.sidebar1 
			width: 15% 
			background: red 

		.text 
			width: 65% 
			background: yellow 

		.sidebar2 
			width: 15% 
			background: red